.cart {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: start;
  padding: 0 5px;
  height: 100%;
}

h1 {
  margin-bottom: 20px;
}

.cart__products {
  flex: 3;
}

.cart__products--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  border-width: 0 0 1px 0;
  padding: 10px 0;
}

.cart__products--item__title {
  max-width: 200px;
  width: 100%;
}

.cart__products--item__box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

.cart__products--item__img {
  max-width: 150px;
}

.cart__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  flex: 1;
  border: 1px solid #000;
  height: 100%;
  border-width: 0 0 0 1px;
}

span {
  opacity: .7;
}