.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  border-width: 0 0 1px 0;
  padding: 10px 0;
}

.item__title {
  max-width: 200px;
  width: 100%;
}

.item__box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

.item__img {
  max-width: 150px;
}


span {
  opacity: .7;
}